@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border p-0 m-0;
}

.hero {
  @apply bg-cover bg-center;
  background-image: url(./assets/images/mobile/image-hero.jpg);
}

h1,
h2 {
  @apply font-josefin font-light uppercase text-4xl;
}

p {
  @apply font-alata text-sm font-normal;
}

.no-scroll {
  @apply overflow-hidden;
}
img {
  @apply max-w-full;
}

.vignette-wrapper {
  @apply relative cursor-pointer;
}

.vignette-wrapper::before {
  @apply absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-30 transition-all duration-150 ease-in-out z-10;
  content: "";
}

.vignette-wrapper img {
  @apply block w-full h-auto relative;
  z-index: 0;
}

/* Group hover effect targeting the article element */
.creationsSection article:hover .vignette-wrapper::before,
.group:hover .vignette-wrapper::before {
  @apply bg-white bg-opacity-70;
}

/* Adjust opacity and other effects when hovering the article */
.creationsSection article:hover,
.group:hover {
  @apply bg-black bg-opacity-20 transition-all duration-150 ease-in-out;
}

/* Ensure text color changes when hovering the article */
.creationsSection .group:hover a {
  @apply text-black transition-colors duration-150 ease-in-out;
}

/* Above 1020px */
@media (min-width: 1020px) {
  .hero {
    background-image: url(./assets/images/desktop/image-hero.jpg);
  }
}
