@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.hero {
  background-image: url(./assets/images/mobile/image-hero.jpg);
}

h1,
h2 {
  @apply font-josefin font-light uppercase text-4xl;
}

p {
  @apply font-alata text-sm font-normal;
}

.no-scroll {
  overflow: hidden;
}
img {
  max-width: 100%;
}

.desktop-nav {
  display: none;
}
.mobile-hamburger {
  display: block;
}

.mobile-seeAllBtn {
  display: block;
}

.desktop-seeAllBtn {
  display: none;
}
/* Above 1024px */
@media (min-width: 1024px) {
  .desktop-nav {
    display: block;
  }
  .mobile-hamburger {
    display: none;
  }

  .mobile-seeAllBtn {
    display: none;
  }
  
  .desktop-seeAllBtn {
    display: block;
  }
}
